$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;
$menuOverlay: #82a6f7;
$primaryColor: #97d3ba;
$navLink: #fdd803;
$navLinkDark: #e7d60f;
$navLinkHover: #f36d4b;
$headline: #7256a4;
$boardBg: #eeebf5;
$boardGreenBg: #f1f9f6;
$dividerBg: #f36d4b;
$galleryBg: #fefcee;
$footerBg: #fcd68e;
$footerLighterBg: #f9d79b;
$footerColor: #74c7a8;