html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 20px;
  background-color: $ltGray;
  color: $black;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}