@import "colors";

.activities {
  background-color: $white;
  display: grid;
  gap: 20px;
  transition: all 150ms linear;

  h2 {
    color: $headline;
    text-align: center;
  }

  .activities-boards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    transition: gap 150ms linear;

    .activities-board {
      background-color: $boardBg;
      display: flex;
      gap: 20px;
      padding: 20px;
      border-radius: 15px;

      .board-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 120px;
        gap: 10px;

        img {
          width: 120px;
        }

        span {
          background-color: $primaryColor;
          padding: 5px 10px;
          border-radius: 10px;
          text-align: center;
          color: $white;
        }
      }

      p {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (max-width: 1300px) {
  .activities {
    transition: all 150ms linear;
    .activities-boards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 900px) {
  .activities {
    .activities-boards {
      gap: 20px;
      transition: gap 150ms linear;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 400px) {
  .activities {
    .activities-boards {
      .activities-board {
        gap: 10px;
        padding: 10px;
      }
    }
  }
}
