@import "colors";

.contact {
  background-color: $white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  align-self: center;

  .contact-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    transition: all 150ms linear;

    .contact-form {
      max-width: 300px;
      width: 100%;
      display: flex;
      flex-direction: column;

      .form-label {
        padding: 20px;
        display: flex;
        flex-direction: column;

        label {
          color: $headline;
        }

        input {
          padding: 10px 15px;
          border-radius: 12px;
          outline: none;
          border: none;
          background: $boardGreenBg;
        }

        textarea {
          resize: none;
          padding: 10px 15px;
          height: 183px;
          transition: all 150ms linear;
          border-radius: 20px;
          outline: none;
          border: none;
          background: $boardGreenBg;
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */

          &::-webkit-scrollbar {
            display: none; /* Hide scrollbar for Chrome, Safari and Opera */
          }
        }
      }
    }

    .contact-info-wrapper {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 20px;
      gap: 20px;

      .contact-info {
        background-color: $boardGreenBg;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        transition: all 150ms linear;

        &:hover {
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          transition: all 150ms linear;
        }

        .contact-info-headline {
          display: flex;
          align-items: center;
          gap: 10px;
          color: $headline;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .contact {
    width: fit-content;
    .contact-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .contact-form {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .contact-info-wrapper {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media (max-width: 900px) {
  .contact {
    .contact-wrapper {
      .contact-info-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 650px) {
  .contact {
    .contact-wrapper {
      padding: 0;
      transition: all 150ms linear;
      .contact-form {
        .form-label {
          textarea {
            height: 70px;
            transition: all 150ms linear;
          }
        }
      }
      .contact-info-wrapper {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
