@import "colors";

.gallery {
  background-color: $galleryBg;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .gallery-headline {
    background-color: $headline;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: $white;
    width: 100%;
  }

  .gallery-links {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    padding: 20px 0;
    gap: 20px;
    flex-wrap: wrap;
    transition: all 150ms linear;

    .gallery-link {
      text-decoration: none;
      color: $headline;
      transition: color 150ms linear;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: $navLinkHover;
        transition: color 150ms linear;
      }
    }
  }

  .gallery-photos {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    border-top: 1px solid $headline;

    img {
      width: 100%;
      max-width: 300px;
      border-radius: 10px;
    }

    .photos-trip {
      display: block;

      &.close {
        display: none;
      }
    }

    .photos-activity {
      display: block;

      &.close {
        display: none;
      }
    }

    .photos-red-letter-day {
      display: block;

      &.close {
        display: none;
      }
    }
  }
}

@media (max-width: 700px) {
  .gallery {
    .gallery-links {
      padding: 10px 0;
      gap: 10px;
      transition: all 150ms linear;
    }

    .gallery-photos {
      img {
        max-width: fit-content;
      }
    }
  }
}
